<div class="screen"></div>
<div id="fontSize" value="30"></div>
<div id="color" value='#f6f6f6'></div>
<div id="opacity" value="1"></div>
<div id="weight" value="600"></div>
<div id="format" value="niconico"></div>
<div id="cookie" value="<%= session[:user_id] %>"></div>