<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>
<%= flash[:notice] %>
<% @tweets.each do |tweet| %>
  <blockquote class="twitter-tweet tw-align-center" data-lang="ja" data-cards="hidden">
    <%= link_to '',tweet[:tweet_link], target: :_blank %>  
  </blockquote>
<% end %>
<%= javascript_include_tag '//platform.twitter.com/widgets.js', charset: 'utf-8', async: 'async' %>

<%= @tweets %>