<h1>Comments#twitter</h1>
<div class="btn-container">
<div class="btn btn--orange btn--radius btn--deactive" id="button">Twitterサーチを始める</div>
</div>
<h2><%= flash[:notice] %></h2>
<h3>まだjQueryは実行されていません</h3>
<h4>最新のツイートのIDは<span>0</span>です</h4>


<ol id="tweets" >
</ol>


<%= javascript_include_tag '//platform.twitter.com/widgets.js', charset: 'utf-8', async: 'async' %>