<h1>Comments#index</h1>
<h2><%= flash[:notice] %></h2>
<h3>まだjQueryは実行されていません</h3>


<ol id="tweets" %>
  <% @tweets.each do |index, tweet| %>
    <article class="tweet" id=<%= index %>>
      <%= tweet[:text] %>
    </article>
  <% end %>
</ol>


<%= javascript_include_tag '//platform.twitter.com/widgets.js', charset: 'utf-8', async: 'async' %>