<header id="header">
  <%= render "layouts/header" %>
</header>

<div id="main">

  <div class="wrapper">
  <article id="content">
    <h1>How to use this APP?</h1>
    <div class="details">
      <h3>Add url or keyword</h3>
    </div>
    <div class="details">
      <h3>Open Screen page</h3>
    </div>
    <div class="details">
      <h3>Click generate button</h3>
    </div>
    <h1>Options</h1>
    <div class="details">
      <h3>Font size</h3>
    </div>
    <div class="details">
      <h3>Speed</h3>
    </div>
    <div class="details">
      <h3>Add search keyword for Twitter</h3>
    </div>
    <div class="details">
      <h3>Add streaming url on Youtube</h3>
    </div>
  </article>
    
  <aside id="sidebar">
    <%= render 'layouts/body_partials/sidebar' %>
  </aside>

</div>
</div>

<footer id="footer">
  <%= render 'layouts/body_partials/footer' %>
</footer>