<header id="header">
  <%= render "layouts/header" %>
</header>

<div id="main">

  <div class="wrapper">
  <article id="content">
  </article>
    
  <aside id="sidebar">
    <%= render 'layouts/body_partials/sidebar' %>
  </aside>

</div>
</div>

<footer id="footer">
  <%= render 'layouts/body_partials/footer' %>
</footer>

  
