<header id="header">
  <%= render "layouts/header" %>
</header>

<div id="main">

  <div class="wrapper">
  <article id="content">
    <h1>How to use this APP?</h1>
    <div class="section">
      <h3 class="section-main">1. Add url or keyword</h3>
      <div class="detail">
        <p class="detail-p">This App will get comments from platform you inputed keyword or url.</p>
        <p class="detail-p">If you inputed keyword for Twitter, this app will getting comments from there.</p>
      </div>
    </div>
    <div class="section">
      <h3 class="section-main">2. Open Screen page</h3>
      <div class="detail">
        <p class="detail-p">Comments we got is only display on screen page.</p>
      </div>
    </div>
    <div class="section">
      <h3 class="section-main">3. Click generate button</h3>
      <div class="detail">
        <p class="detail-p">When you click 'generate' button, this app will getting comments from platform <br>you inputted keyword or url.</p>
      </div>
    </div>
    <h1>Options</h1>
    <div class="section">
      <h3 class="section-main">Font size</h3>
      <div class="detail">
        <p class="detail-p">you can change comment's font size.</p>
        <p class="detail-p">When display comments on screen page, all comments refer to this parameter.</p>
      </div>
    </div>
    <div class="section">
      <h3 class="section-main">Speed</h3>
      <div class="detail">
        <p class="detail-p">you can change comment's speed.</p>
        <p class="detail-p">When display comments on screen page, all comments refer to this parameter.</p>
      </div>
    </div>
    <div class="section">
      <h3 class="section-main">Add search keyword for Twitter</h3>
      <div class="detail">
        <p class="detail-p">If you inputted search keyword for Twitter, this app will getting comments from there.</p>
        <p class="detail-p">Search keyword include '#', you can search from hashtags</p>
      </div>
    </div>
    <div class="section">
      <h3 class="section-main">Add streaming url on Youtube</h3>
      <div class="detail">
        <p class="detail-p">If you inputted streaming url on Youtube, this app will getting comments from there.</p>
        <p class="detail-p">You can input pure url. Be careful this app is only availlable a streaming url.</p>
      </div>
    </div>
  </article>
    
  <aside id="sidebar">
    <%= render 'layouts/body_partials/sidebar' %>
  </aside>

</div>
</div>

<footer id="footer">
  <%= render 'layouts/body_partials/footer' %>
</footer>