
<% @comments.each do |comment| %>
  <h3><%= comment[:name] %></h3>
  <h2><%= comment[:comment] %></h2>
<% end %>


<script type="text/javascript">
  $(document).ready(function() {
    $("h2").text("comments is hacked!");
    
    $("h2").fadeOut();
  });
</script>