<div class="btn-container bottom-btn-container">
  <button id="button_refresh" class="btn btn-success" type="button">更新</button>
  <button id="button" class="btn btn-danger" id="button">サーチを始める</button>
</div>