<div class="btn-container bottom-btn-container">
  <button id="button_refresh" class="btn btn-success btn-bottom" type="button">UPDATE SETTINGS</button>
  <button id="button" class="btn btn-danger btn-bottom btn--deactive" id="button">GENERATE</button>
</div>