<div id="footer-content">
  <div class="wrapper middle-wrapper">
    <div class="box">
    </div>
    <div class="box">
    </div>
  </div>
</div>
<div id="footer-content">
  <div class="wrapper middle-wrapper">
    <div class="box">
      <label for="development-repo"><h3>Development Info</h3></label>
      <object id="dedvelopment-repo" type="image/svg+xml" data="https://gh-card.dev/repos/n20006/GraduationTask_Team.svg?link_target=_blank"></object>
    </div>
    <div class="box">
      <label for="development-repo"><h3>Development Info</h3></label>
      <object id="dedvelopment-repo" type="image/svg+xml" data="https://gh-card.dev/repos/n20006/GraduationTask_Team.svg?link_target=_blank"></object>
    </div>
  </div>
</div>