<div class="wrapper middle-wrapper">
  
  <div class="box fontSize">
    <nav class="navbar navbar-light bg-light">
      <h3 class="index-label">FONT SIZE</h3>
      <form class="container-fluid justify-content-start" style="display:block" >
        <input type="range" class="form-range" min="20" max="50" step="0.5" id="customRange3"> 
      </form>
    </nav>
  </div>
  
  <div class="box speed">
    <nav class="navbar navbar-light bg-light">
      <h3 class="index-label">SPEED</h3>
      <form class="container-fluid justify-content-start" style="display:block" >
        <div class="btn-container">
          <button class="btn btn-outline-success me-2 speed" type="button" value="遅い">SLOWLY</button>
          <button class="btn btn-outline-success me-2 speed" type="button" value="普通">DEFAULT</button>
          <button class="btn btn-outline-success me-2 speed" type="button" value="速い">FASTER</button>
        </div>
      </form>
    </nav>
  </div>
  
</div>
  
  <div class="box-form twitter">
      <h4>Add search keyword for Twitter(ex: #tkgoki)</h4>
    <div class="form-floating mb-3">
      <input type="text" class="form-control twittertag" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Twitter Keyword</label>
    </div>
      <h4>Add streaming url on youtube</h4>
    <div class="form-floating mb-3">
      <input type="text" class="form-control youtubeurl" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Youtube URL</label>
    </div>
  </div>