var tweets_json = <%= raw @tweets.to_json %>
var latest_tweet_id = '<%= @latest_tweet_id %>'

$("span").html(latest_tweet_id);

regex_reply = /^@.*$/;

Object.keys(tweets_json).reverse().forEach(function(num) {

  if (!(tweets_json[num]["text"].replace(('\n'), ('\s')).match(regex_reply))) {
    

    $('<div class="line">======================================================</div>').prependTo("ol")
    .hide().slideDown(300);
    
    $('<h5 class="tweet-id">' + 'TweetID : ' + tweets_json[num]["id"] + '</h5>').prependTo($("ol")).hide().fadeIn(1500);
    
    $('<article class="tweet">' + 
        tweets_json[num]["text"].replace(/https.*/g, "[URLメディアあり]") 
    + '</article>').prependTo($("ol")).hide().fadeIn(1500);
    
  
  } else {
    
    console.log("Regex NG");
    console.log(tweets_json[num]["text"]);
    console.log("=".repeat(10));
  
  };
  
    
});

$('<article class="jquery-line"><<<<<<<<<<<<<<<<<<<<<< jQuery Line >>>>>>>>>>>>>>>>>>>>></article><br>')
  .prependTo("ol").hide().fadeIn(1000);