#index {
  .jquery-line {
    margin: 30px;
    text-align: center;
    color: #ff0000;
    font-weight: bold;
  }
  
  h1 {
    text-align: center;
  }
  
  h3 {
    text-align: right;
  }
  
  h4 {
    text-align: center;
  }
  
  h5 {
    text-align: center;
  }
  
  .line {
    margin: 10px;
    text-align: center;
  }
  
  article {
    text-align: center;
  }
  
  .btn-container {
    text-align: center;
  }
  
}