#index {
  * {
    box-sizing: border-box;
  }
  
  //add lines
  /*
  #content {
    border: red 5px solid;  
  }
  
  #main {
    border: blue 5px solid;
  }
  
  #sidebar {
    border: yellow 5px solid;
  }
  
  #footer {
    border: red 5px solid;
  }
  */
  
  // Basic CSS
  #header{
    width: 100%;
    height: 80px;
    background-color: #220000;
  }
  
  #main {
    max-width: 1140px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 1080px;
  }
  
  #footer {
    clear: both;
    background: #C0C0C0;
    height: 300px;
  }
  
  .wrapper {
    height: 100%;
    min-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px auto;
  }
  
  #content {
    height: 100%;
    width: 73%;
  }
  
  #sidebar {
    height: 100%;
    width: 25%;
    overflow: hidden;
  }

  // Advance CSS
  
  //Header CSS
  #app-name {
    margin-right: 30px;
    margin-left: 30px;
  }
  
  .navbar {
    height: 100%;
  }
  
  .navbar-margin {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-nav-item {
    margin-right: 20px;
  }
  
  #header-left-navs {
    margin-left: auto;
  }
  
  // Top CSS
  .top {
    width: 100%;
    height: 30%;
    position: relative;
  }
  
  .div-top  {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #C0C0C0;
    margin: auto;
    display: flex;
    overflow: hidden;
  }
  .sample {
    font-size: 30px;
    margin: auto;
    color: white;
    font-weight: bolder;
    text-shadow: black 0 0 5px;
  
    /* 改行しない */
    white-space: nowrap;
  
    /* ポジションを固定する */
    //position: absolute;
  
    /* 文字の行間を調節する */
    line-height: 1;
  
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 50s;
    animation-name: lane;
    transform: translateX(700px);
  }
  
  @keyframes lane {
    100% {
      transform: translateX(-6500px);
    }
  }
  
  //Middle CSS
  .middle {
    width: 100%;
    height: 60%;
    align-items: center;
  }
  .middle-wrapper {
    height: 30%;
    align-items: center;
  }
  
  .box {
    height: 150px;
    padding-bottom: 20px;
    //width: 50%;
    //display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .box-form {
    height: 70%;
  }
  
  .form-floating {
    margin-bottom: 0!important;
    padding-bottom: 1rem!important;
  }
  
  //Middle settings CSS
  .index-label{
    margin-left: 5%;
    color: #3366FF;
  }
  
  
  .fontSize {
    width: 47%;
  }
  
  .form-range {
    width: 100%;
  }
  
  
  .speed {
    width: 47%;
  }
  
  // sidebar CSS
  .sidebar-content {
    padding: 0;
  }
  
  #sidebar-carousel {
    height: 20%;
  }
  
  #sidebar-cards {
    height: 80%;
    padding-bottom: 10%;
  }
  
  .carousel-img {
    height: 180px;
  }
  
  .add-border {
    border: black 5px solid;
    margin-bottom: 25px;
    border-radius: 5px;
  }
  
  object {
    border-left: #C0C0C0 1px solid;
  }
  
  #cards {
    overflow-y: scroll;
    height: 100%;
  }
  
  //Bottom CSS
  .bottom {
    width: 100%;
    height: 10%;
    justify-content: flex-end;
    align-items: center;
  }
  
  .bottom-btn-container {
    width: 80%;
    height: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-bottom {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  
  .btn-container {
       display: flex;
  }
  
  
  //footer CSS
  .footer-wrapper {
    margin: 0px auto;
    height: 95%;
  }
  
  .footer-content {
    height: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer-links {
    font-size: 20px;
    list-style: none;
  }
  
  .box-footer {
    width: 80%;
    height: 100%;
  }
  
  .box-footer-left {
    padding: 10px 0px 10px 30px;
  }
  
  .box-footer-right {
    padding: 10px 30px 10px 0px;
  }
  
  #footer-last {
    background-color: #C0C0C0;
    padding-bottom: 5px;
  }
  
  #copyright {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    height: 100%;
  }
  
  //responsive CSS
  //for chrome
  @media screen and (max-width: 1220px){
    #header {
      //position: fixed;
      top: 0;
      z-index: 10;
    }
    
    #main {
      margin: 50px 0;
      height: 1300px;
    }
    .wrapper {
      overflow: hidden;
      width: 90%;
      float: none;
      display: block;
    } 
    
    #content {
      width: 100%;
    }
    
    .box-form {
      height: 50%;
    }
    .middle-wrapper {
      width: 100%;
      height: 50%;
      align-items: center;
      margin: 0px;
      text-align: center;
    }
    
    #sidebar {
      display: none;
      margin-top: 10px;
      width: 100%;
    }
    
    .box {
      margin: 10px auto;
    }
    
    .fontSize {
      width: 100%;
    }
    .speed {
      width: 100%;
    }
    .carousel-img {
    }
    
    // footer CSS
    #footer {
      //height: 550px;
    }
    .footer-wrapper {
      display: flex;
      
    }
    
    .box-footer {
      height: 50%;
    }
  }

}