#screen {
  
  /* 全体に適用 */
  * {
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  /* スクロールバーを非表示にする */
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* コメントを表示するスクリーン */
  .screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .youtubeIcon::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    //border-radius: 100%;
    margin-right: 10px;
    margin-bottom: -12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/images/koya/yt_icon_rgb.png');
  }
  
  .twitterIcon::before {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: -4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/images/koya/twitter.png');
  }
  
  .youtubemode {
    .youtubeIcon::before & {
      margin-bottom: -20px;
    }
    .twitterIcon::before & {
      margin-bottom: 20px;
    }
  }
}